*{
    margin:0;
    padding:0;
}


body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    width:60vh;
    height:65vh;
    padding:20px;
}

legend{
    font-size: 20px;
    font-weight:bold;
    padding: 0 10px;
}

#form-description{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.container{
    display:flex;
    flex-direction:column;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label{
    font-size: 20px;
}
  
input, textarea{
    font-size: 16px;
    padding: 5px 0 5px 5px ;

}